{
  "ignore": [
    "**/__tests__"
  ],
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["module-resolver", {
      "root": ["./lib"],
      "alias": {
        "app": "./src/app",
        "boot": "./src/boot",
        "container": "./src/container",
        "store": "./src/store",
        "screens": "./src/screens",
        "navigators": "./src/navigators",
        "reducers": "./src/reducers",
        "theme": "./src/theme",
        "ui": "./src/ui",
        "images": "./src/images",
        "utils": "./src/utils",
        "repositories": "./src/repositories",
        "types": "./src/types",
        "language": "./src/language",
        "server": "./src/server"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
