{
  "ignore": [
    "**/__tests__"
  ],
  "presets": ["react-native"],
  "plugins": [
    ["module-alias", [
      { "src": "./lib/src/app", "expose": "app"},
      { "src": "./lib/src/boot", "expose": "boot" },
      { "src": "./lib/src/container", "expose": "container" },
      { "src": "./lib/src/store", "expose": "language" },
      { "src": "./lib/src/stories", "expose": "stories" },
      { "src": "./lib/src/navigators", "expose": "navigators" },
      { "src": "./lib/src/reducers", "expose": "reducers" },
      { "src": "./lib/src/store", "expose": "store" },
      { "src": "./lib/src/theme", "expose": "theme" },
      { "src": "./lib/src/ui", "expose": "ui" },
      { "src": "./src/images", "expose": "images" },
      { "src": "./lib/src/utils", "expose": "utils" }
    ]]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
